.navbar {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  padding: 15px;
  list-style-type: none;
  background-color: #470F57;
}

.login-signup-div {
  display: flex;
  flex-direction: row;
}

.nav-list-item {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-dojo-logo {
  font-weight: bold;
  color: white;
}

.nav-links {
  color: white;
  text-decoration: none;
}

#nav-home-link {
  color: white;
  text-decoration: none;
}
