.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  list-style-type: none;
  /* background-color: #470F57; */
  background-color: rgb(59, 59, 59);
  margin: 0;
}

.login-signup-div {
  display: flex;
  flex-direction: row;
}

.nav-list-item {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-dojo-logo {
  font-weight: bold;
  color: white;
}

.nav-links {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#logout-nav {
  margin-left: auto;
  padding-top: 3px;
}
#logout-link:hover {
  cursor: pointer;
}
#cart-total-div {
  color: white;
  margin-left: 5px;
}

#nav-home-link {
  color: white;
  text-decoration: none;
}
#logo-writing {
  margin-left: 6px;
}

#sitewide-sale-banner {
  text-align: center;
  background-color: rgb(227, 197, 105);
  padding: 6px;
  box-shadow: 0px 6px 8px -4px rgb(0, 0, 0) inset;
}
/*
#categories-div {
  background-color: lightgray;
} */
#categories-list {
  display: flex;
  /* align-self: center; */
  justify-content: space-around;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  /* margin-top: 10px; */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: underline;
  font-size: 1.1rem;
  background-color: rgba(211, 211, 211, 0.592);
  box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.368) inset;
}

.category-item-main:hover {
  cursor: pointer;
}
