/* TODO Add site wide styles */

/* body {
  background-color: rgb(222, 213, 213);
  width: 100vw;
  height: 100vh;
  margin: none;
  padding: none;
} */
@font-face {
  font-family: 'Industry';
  src: url("./fonts/Industry-Book.ttf");
}
@font-face {
  font-family: 'IndustryBold';
  src: url("./fonts/Industry-Bold.ttf");
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Industry', monospace;
}
