.form-container {
  display: flex;
  justify-content: center;
}

.form-login {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#login-title {
  font-family: 'IndustryBold';
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-input {
  margin-top: 4px;
  margin-bottom: 10px;
}

#login-button-div {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}
#login-btn {
  font-family: 'Industry';
  font-size: 12px;
  padding: 3px;
  width: 100%;
  background-color: white;
}
#login-btn:hover {
  cursor: pointer;
  background-color: lightgreen;
}
